/*feuille de style du composant "BlocListBictoin"*/
.entireBlocBitcoin {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  position: absolute;
  width: 70%;
  height: 50%;
  top: 130px;
  left: 15%;
  border-radius: 50px;
}
.buttonStyle {
  font-size: 2em;
  border-radius: 50px;
  width: 200px;
  border: none;
  font-weight: 700;
  color: #7431a5;
  margin-inline: 20%;
}
.buttonStyle:hover {
  background-color: #7431a5;
  color: white;
  cursor: pointer;
}
.selectCurrency {
  display: flex;
  justify-content: center;
}
.selectBoxCurrency {
  margin-left: 5px;
}
